# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs/
*.log

# Env
.env
.env.*

# Next.js
.next/
out/
.next-cache/

# Build
coverage/
dist/
build/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# Misc
*.local
*.tmp
